@font-face {
  font-family: 'Latin Modern';
  src: url(./fonts/lmroman10-regular.otf) format('opentype');
}
@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  src: url(./fonts/lmroman10-italic.otf) format('opentype');
}
@font-face {
  font-family: 'Latin Modern';
  font-weight: bold;
  src: url(./fonts/lmroman10-italic.otf) format('opentype');
}
@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: bold;
  src: url(./fonts/lmroman10-bolditalic.otf) format('opentype');
}

svg {
  font-family: 'Latin Modern';
  font-size: 24px;
}
